<font size="+5">#07 | The Python Resolver Discipline</font>


<div class="alert alert-warning">
  <ul>
    <li>
      <b>Python</b> + <b>Data Science</b> Tutorials in ↓
      <ul>
        <li>
          <a href="https://www.youtube.com/c/PythonResolver?sub_confirmation=1"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://blog.pythonresolver.com/">Blog</a>
        </li>
        <li>
          <a href="https://github.com/jsulopz/00-python-resolver-discipline">GitHub</a>
        </li>
      </ul>
    </li>
    <li>
      Author: <a href="https://twitter.com/jsulopz"><b>@jsulopz</b></a>
    </li>
  </ul>
</div>

<a href="https://colab.research.google.com/github/jsulopz/resolving-python-data-science/blob/main/07_The%20Python%20Resolver%20Discipline/07_google-method_session.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# The Starting *Thing*

In [102]:
import pandas as pd #!

df = pd.read_csv('https://raw.githubusercontent.com/jsulopz/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv')
df

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

# Look for the `function()` to Create the Data Visualization

- Apply the [Python Resolver Discipline](https://github.com/jsulopz/python-resolver-discipline/blob/main/01_Code%20of%20Discipline/01_Sketch%20the%20Result.md)
- The function `area()` from `express` module within `plotly` library
- Where I specify:
    - The `Date` column in the x-axis
    - The `Volume` column in the `y-axis`
    - And `df` as the `DataFrame` where to look for these columns

- Zoom in and see the Timestamp
- [ ] Is it Monthly?

# Data Points Don't Appear on a Monthly Basis

- Apply the [Python Resolver Discipline](https://github.com/jsulopz/python-resolver-discipline/blob/main/01_Code%20of%20Discipline/01_Sketch%20the%20Result.md)

## Understand the Problem

- Compute the Total `Volume` per Month
    - `Volume` is a numerical column
    - Month is implicitly said in `Date` column

## The Starting *Thing*

## The Desired Result

2014-07 - 60000000000
2014-06 - 34830000034
...
1980-12 - 11231123424

## Work Out the Solution

**1. Extract the month-year for every row**

**2. Aggregate the data to get the Volume per Month**

## Try Again

# Axis Data as a `Series` of the `DataFrame`

- Apply the [Python Resolver Discipline](https://github.com/jsulopz/python-resolver-discipline/blob/main/01_Code%20of%20Discipline/01_Sketch%20the%20Result.md)

## Understand the Problem

## The Starting *Thing*

## The Desired Result

- We need to convert `res` (now a `Series`) to a `DataFrame` object
- Like the one below ↓

In [122]:
df.head() #!

        Date   Open   High    Low  Close    Volume  Adj Close  Monthly
0 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35  2014-07
1 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97  2014-07
2 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03  2014-07
3 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48  2014-07
4 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52  2014-07

## Work Out the Solution

## Try Again

# Plotly doesn't understand the `Period`

- Apply the [Python Resolver Discipline](https://github.com/jsulopz/python-resolver-discipline/blob/main/01_Code%20of%20Discipline/01_Sketch%20the%20Result.md)

## Understand the Problem

## The Starting *Thing*

## The Desired Result

Monthly ~ object | datetime

## Work Out the Solution

## Try Again

# The Uncovered Solution

# What Have We Learnt?

- How to get a correct diagnosis of the error?
- How to ask for solutions in Google applying the [Python Resolver Discipline](https://github.com/jsulopz/python-resolver-discipline)?
- How to break up the problem into pieces to finally reach the solution?

# Which Concepts Have We Learnt?

- Series
- Datetime
- Period
- Timestamp
- DataFrame
- `pandas.Series.reset_index()`
- Index