<font size="+5">#08 | Masking & Filtering</font>


<div class="alert alert-warning">
  <ul>
    <li>
      <b>Python</b> + <b>Data Science</b> Tutorials in â†“
      <ul>
        <li>
          <a href="https://www.youtube.com/c/PythonResolver?sub_confirmation=1"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://blog.pythonresolver.com/">Blog</a>
        </li>
        <li>
          <a href="https://github.com/jsulopz/00-python-resolver-discipline">GitHub</a>
        </li>
      </ul>
    </li>
    <li>
      Author: <a href="https://twitter.com/jsulopz"><b>@jsulopz</b></a>
    </li>
  </ul>
</div>

<a href="https://colab.research.google.com/github/jsulopz/resolving-python-data-science/blob/main/08_Masking%20%26%20Filtering/08_masking-filtering_session.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [98]:
import numpy as np
import pandas as pd

In [99]:
array = np.array(['juan', 'pepe', 'maria'])

In [100]:
array[[False, True, False]]

array(['pepe'], dtype='<U5')

In [101]:
mask = [False, True, False]

In [102]:
array[mask]

array(['pepe'], dtype='<U5')

In [103]:
series = pd.Series(['juan', 'pepe', 'maria'])

In [104]:
series[[False, True, False]]

1    pepe
dtype: object

In [105]:
mask = [False, True, False]

In [106]:
series[mask]

1    pepe
dtype: object

In [107]:
lista = ['juan', 'pepe', 'maria']

In [108]:
lista[[False, True, False]]

TypeError: list indices must be integers or slices, not list

In [109]:
import pandas as pd

In [130]:
df = pd.read_excel(io='../../data/internet_usage_spain.xlsx', index_col=0)

In [132]:
df.head()

           internet_usage     sex  age   education  weight
name
Josefina                0  Female   66  Elementary      81
Vicki                   1    Male   72  Elementary      78
David                   1    Male   48  University      69
Curtis                  0    Male   59         PhD     107
Josephine               1  Female   44         PhD      80

In [133]:
df.sex == 'Male'

name
Josefina     False
Vicki         True
David         True
Curtis        True
Josephine    False
             ...
Frances       True
Harry        False
Adam         False
Christine     True
Pepe          True
Name: sex, Length: 2455, dtype: bool

In [134]:
mask = df.sex == 'Male'

In [135]:
df[mask]

           internet_usage   sex  age    education  weight
name
Vicki                   1  Male   72   Elementary      78
David                   1  Male   48   University      69
Curtis                  0  Male   59          PhD     107
Sue                     1  Male   43   University      68
Juanita                 1  Male   23   Elementary      91
...                   ...   ...  ...          ...     ...
Jaime                   1  Male   27   Elementary      90
Michael                 0  Male   92   No studies      74
Frances                 1  Male   43   Elementary      94
Christine               1  Male   31  High School      89
Pepe                    0  Male   52   Elementary      88

[1202 rows x 5 columns]

In [136]:
df.sex == 'Female'

name
Josefina      True
Vicki        False
David        False
Curtis       False
Josephine     True
             ...
Frances      False
Harry         True
Adam          True
Christine    False
Pepe         False
Name: sex, Length: 2455, dtype: bool

In [137]:
mask = df.sex == 'Female'

In [138]:
df[mask]

           internet_usage     sex  age     education  weight
name
Josefina                0  Female   66    Elementary      81
Josephine               1  Female   44           PhD      80
Malinda                 1  Female   34           PhD      71
Fern                    1  Female   49           PhD      58
Ethel                   0  Female   73    Elementary      80
...                   ...     ...  ...           ...     ...
Millicent               1  Female   33  Higher Level      70
Ernestina               0  Female   54    Elementary      76
Elsie                   0  Female   64    No studies      57
Harry                   1  Female   18   High School      70
Adam                    0  Female   54    Elementary      60

[1253 rows x 5 columns]

In [139]:
df.education == 'No studies'

name
Josefina     False
Vicki        False
David        False
Curtis       False
Josephine    False
             ...
Frances      False
Harry        False
Adam         False
Christine    False
Pepe         False
Name: education, Length: 2455, dtype: bool

In [140]:
mask_edu = df.education == 'No studies'

In [141]:
df[mask_edu]

           internet_usage     sex  age   education  weight
name
Felicidad               0    Male   79  No studies      85
Lewis                   0    Male   70  No studies      48
Anthony                 0  Female   65  No studies      65
Matthew                 0    Male   79  No studies     104
Walter                  0  Female   76  No studies      56
...                   ...     ...  ...         ...     ...
Justin                  0  Female   78  No studies      81
Dorothy                 0    Male   61  No studies      74
James                   0  Female   81  No studies      63
Elsie                   0  Female   64  No studies      57
Michael                 0    Male   92  No studies      74

[177 rows x 5 columns]

In [142]:
df.age > 70

name
Josefina     False
Vicki         True
David        False
Curtis       False
Josephine    False
             ...
Frances      False
Harry        False
Adam         False
Christine    False
Pepe         False
Name: age, Length: 2455, dtype: bool

In [143]:
mask_age = df.age > 70

In [144]:
df[mask_age]

           internet_usage     sex  age   education  weight
name
Vicki                   1    Male   72  Elementary      78
Ethel                   0  Female   73  Elementary      80
Felicidad               0    Male   79  No studies      85
Otis                    0  Female   84  Elementary      73
Valeri                  0  Female   90  Elementary      79
...                   ...     ...  ...         ...     ...
John                    0    Male   82  Elementary      67
Frank                   0    Male   74  Elementary      83
Daniel                  0  Female   77  Elementary      52
Mark                    0  Female   80  Elementary      62
Michael                 0    Male   92  No studies      74

[303 rows x 5 columns]

In [145]:
df[mask_edu & mask_age]

           internet_usage     sex  age   education  weight
name
Felicidad               0    Male   79  No studies      85
Matthew                 0    Male   79  No studies     104
Walter                  0  Female   76  No studies      56
Ruth                    0    Male   74  No studies      63
Doris                   0    Male   73  No studies      82
...                   ...     ...  ...         ...     ...
Mark                    0  Female   80  No studies      58
Windy                   0    Male   82  No studies      74
Justin                  0  Female   78  No studies      81
James                   0  Female   81  No studies      63
Michael                 0    Male   92  No studies      74

[100 rows x 5 columns]

In [146]:
df[mask_edu | mask_age]

           internet_usage     sex  age   education  weight
name
Vicki                   1    Male   72  Elementary      78
Ethel                   0  Female   73  Elementary      80
Felicidad               0    Male   79  No studies      85
Otis                    0  Female   84  Elementary      73
Lewis                   0    Male   70  No studies      48
...                   ...     ...  ...         ...     ...
Frank                   0    Male   74  Elementary      83
Daniel                  0  Female   77  Elementary      52
Mark                    0  Female   80  Elementary      62
Elsie                   0  Female   64  No studies      57
Michael                 0    Male   92  No studies      74

[380 rows x 5 columns]

In [152]:
df.age

Josefina     66
Vicki        72
David        48
Curtis       59
Josephine    44
             ..
Frances      43
Harry        18
Adam         54
Christine    31
Pepe         52
Name: age, Length: 2455, dtype: int64

In [153]:
df.age.idxmax()

'Janna'

In [154]:
index_name = df.age.idxmax()

In [155]:
df.loc[index_name]

internet_usage             0
sex                   Female
age                       95
education         Elementary
weight                    61
Name: Janna, dtype: object

In [156]:
df.iloc[index_name]

TypeError: Cannot index by location index with a non-integer key

In [157]:
df.iloc[-1]

internet_usage             0
sex                     Male
age                       52
education         Elementary
weight                    88
Name: Pepe, dtype: object

In [159]:
df.loc['Pepe']

internet_usage             0
sex                     Male
age                       52
education         Elementary
weight                    88
Name: Pepe, dtype: object

In [158]:
df.loc[-1]

KeyError: -1

In [162]:
df

           internet_usage     sex  age    education  weight
Josefina                0  Female   66   Elementary      81
Vicki                   1    Male   72   Elementary      78
David                   1    Male   48   University      69
Curtis                  0    Male   59          PhD     107
Josephine               1  Female   44          PhD      80
...                   ...     ...  ...          ...     ...
Frances                 1    Male   43   Elementary      94
Harry                   1  Female   18  High School      70
Adam                    0  Female   54   Elementary      60
Christine               1    Male   31  High School      89
Pepe                    0    Male   52   Elementary      88

[2455 rows x 5 columns]

In [169]:
df.iloc[-1,4]

88

In [170]:
df.loc['Pepe', 'weight']

88

In [172]:
df.loc['Pepe', 'age']

52

In [173]:
df.loc['Pepe', 'education']

'Elementary'

In [171]:
df.loc[-1,4]

KeyError: -1

In [41]:
df.columns

Index(['internet_usage', 'sex', 'age', 'education', 'weight'], dtype='object')

In [42]:
df.columns.str.contains('a')

array([ True, False,  True,  True, False])

In [43]:
mask = df.columns.str.contains('a')

In [45]:
df.columns[mask]

Index(['internet_usage', 'age', 'education'], dtype='object')

In [41]:
df.columns

Index(['internet_usage', 'sex', 'age', 'education', 'weight'], dtype='object')

In [46]:
df.columns.str.contains('u')

array([ True, False, False,  True, False])

In [47]:
mask = df.columns.str.contains('u')

In [49]:
df.columns[mask]

Index(['internet_usage', 'education'], dtype='object')