<font size="+5">#05 | Transforming Basic Objects into the Powerful DataFrame</font>


<div class="alert alert-warning">
  <ul>
    <li>
      <b>Python</b> + <b>Data Science</b> Tutorials in ↓
      <ul>
        <li>
          <a href="https://www.youtube.com/c/PythonResolver?sub_confirmation=1"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://blog.pythonresolver.com/">Blog</a>
        </li>
        <li>
          <a href="https://github.com/jsulopz/00-python-resolver-discipline">GitHub</a>
        </li>
      </ul>
    </li>
    <li>
      Author: <a href="https://twitter.com/jsulopz"><b>@jsulopz</b></a>
    </li>
  </ul>
</div>

<a href="https://colab.research.google.com/github/jsulopz/resolving-python-data-science/blob/main/05_Transforming%20Basic%20Objects%20into%20the%20Powerful%20DataFrame/05_transform-to-dataframe_session.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# The Starting *Thing*

https://github.com/jsulopz/data/blob/main/best_tennis_players_stats.json

# All that glitters is not gold

- Not all objects can call the same functions
- Even though they may store the same information

## `list`

- [ ] Create a list with your math `grades`

- [ ] Compute the mean

- You cannot do the mean
- [ ] But, could you `sum()` and `len()`?

- [ ] And divide the sum by the number of players?

- [ ] Isn't it an `object` that could calculate the `mean()`?

<div class="alert alert-info">
    <b>Tip</b>
    <br>Programming is the <i>Art of Possibilities</i>
    <br>If you think there is an easier way to do things,
    <br>probably someone has already create something for it
    <br>Apply the <a href="https://github.com/jsulopz/python-resolver-discipline/blob/main/01_Code%20of%20Discipline/01_Sketch%20the%20Result.md">Python Resolver Discipline</a> to look for the function in Google ↓
    <br><i>"python list mean"</i>
</div>

## `Series`

- [ ] Use the `.` + `[tab]` key to see the `functions/methods` of the object

# Store the information in Python `objects` for the Best Tennis Players

- income
- titles
- grand slams
- turned professional
- wins
- losses

## Create a `dictionary` for Roger Federer

## Create a `dictionary` for Rafa Nadal

In [51]:
rafa = {'income': 127, #!
        'titles': 90,
        'grand slams': 21,
        'turned professional': 2001,
        'wins': 1038,
        'losses': 209}

rafa

{'income': 127,
 'titles': 90,
 'grand slams': 21,
 'turned professional': 2001,
 'wins': 1038,
 'losses': 209}

## Create a `dictionary` for Novak Djokovic

## How much wealth did all of them earned?

- Let's put all of them into a `list`
- [ ] And `sum()` the `income`

In [53]:
list_best_players = [roger, rafa, nole] #!
list_best_players

[{'income': 130,
  'titles': 103,
  'grand slams': 20,
  'turned professional': 1998,
  'wins': 1251,
  'losses': 275},
 {'income': 127,
  'titles': 90,
  'grand slams': 21,
  'turned professional': 2001,
  'wins': 1038,
  'losses': 209},
 {'income': 154,
  'titles': 86,
  'grand slams': 20,
  'turned professional': 2003,
  'wins': 989,
  'losses': 199}]

- The `sum()` is not an action
- that a simple object `list` can perform.


- [ ] Could we convert the list into a
- more powerful object `DataFrame`
- that could compute the `sum()`?

1. [ ] Access the `income` column
2. [ ] and compute the `sum()`

- [ ] Which type of `instance` is the table?

- [ ] What else can we do with this `instance`?

# Can we select specific parts of the `DataFrame`?

- Remember that an `instance` is a **structure of data**
- In other words, it may contain **more objects**

In [64]:
df_best_players #!

                income  titles  grand slams  turned professional  wins  losses
Roger Federer      130     103           20                 1998  1251     275
Rafa Nadal         127      90           21                 2001  1038     209
Novak Djokovic     154      86           20                 2003   989     199

## Names of rows `index`

## Names of `columns`

## Number of rows & columns `shape`

## Just the `values` within the `DataFrame`

# The Uncovered Solution